@{
    ViewBag.Title = "Demo Blog under construction";
}

<h1>Create your own Blog</h1>
<div class="containerTest">
    <div class="leftTest">
        <div class="main group">
            <div class="blog-elements">
                <h2>Please choose your content here.</h2>
                <a id="textAdd" href"#" draggable="true" ondragstart="drag(event)" class="blog-element icon-text"></a>
                <a id="imgAdd" href"#" draggable="true" ondragstart="drag(event)" class="blog-element icon-image"></a>
                <a id="galleryAdd" href"#" draggable="true" ondragstart="drag(event)" class="blog-element icon-images"></a>  <!-- -gallery -->
                <a id="videoAdd" href"#" draggable="true" ondragstart="drag(event)" class="blog-element icon-video"></a>
                <a id="mp3Add" href"#" draggable="true" ondragstart="drag(event)" class="blog-element icon-music"></a>
            </div>
            <div class="blog-preview">
                <div id="blogdata">
                    <label>Titel</label>
                    <input id="blog-titel" type="text" />
                    <label>Subtitel</label>
                    <input id="blog-subtitle" type="text" />
                    
                    <h2>Your Content</h2>
                    
                    <label>First Paragraph</label>
                    <textarea></textarea>

                    <div class="more-content">
                        <h3>Add More Content</h3>
                        <span class="more-content-box" ondrop="drop(event)" ondragover="allowDrop(event)"></span>
                    </div>
                    <button onclick="createBlog()">Create</button>
                </div>
                
            </div>
        </div>
    </div>
    <div class="middleTest">
        <div id="map"  style="height:250px;"></div>
    </div>

</div>





