@model WebAppBlog.Models.BlogOverviewViewModel
@{
    ViewBag.Title = "Overview";
}

<div class="blogs-overview-page">
    
    <h1>My Blogs</h1>
    @foreach (var blog in Model.usersBlogs)
    {
    <div>
        <h3>@blog.Title</h3>
        <span>@blog.Subtitle</span>
        <span>more information</span>
    </div>
    }
</div>

