@model WebAppBlog.Models.Blog.BlogOutput
@{
    ViewBag.Title = "Your demo blog";
}

<h2>@Model.Title</h2>
<h3>@Model.Subtitle</h3>
@foreach (var element in Model.Elements)
{
    if (element is WebAppBlog.Models.Blog.TextElement)
    {
        @Html.Raw(element.value); <br />
    }
    else
    {
        //image going to be rendered here
    }
}
