


    @{
        ViewBag.Title = "About";
    }

<div class="impressum-page">
    <h1>About</h1>

    <div class="contact-info">

        <span>Developed as part of the course 'Web Applications' at the</span>

        <ul class="address-htw">
            <li>HTW Berlin</li>
            <li>Wilhelminenhofstr. 75A</li>
            <li>12459 Berlin</li>
            <li>Germany</li>
        </ul>

        <div>
            <span>E-Mail: </span>
            <a href="mailto:Support@example.com">WebAppsBlogMS@gmail.com</a> 
        </div>

    </div>
</div>