@{
    ViewBag.Title = "About";
}
<h1>@ViewBag.Title.</h1>
<h3>How to build your own blog</h3>

<p>To be able to create your blog you just need to do the following:</p>

<ul>
    <li>choose the item you want to add to your blog</li>
    <li>drag it from the select box into the marked area</li>
    <li>drop it and enter the wanted information</li>
    
</ul>

<img src="..\..\Images\about-image.png" alt="an illustration showing how to drop new elements in the future blog"/>
