@{
    ViewBag.Title = "Contact";
}
<h2>Impressum</h2>

<span>Developed as part of the course 'Web Applications' at the</span>

<div class="contact-info">
    
    <address>
        <span>HTW Berlin</span>
        <span>Wilhelminenhofstr 75A</span>
        <span>12459 Berlin</span>
        <span>Germany</span>
    </address>

    <span>E-Mail: <a href="mailto:Support@example.com">Support@example.com</a> </span>

</div>