
<div class="home-page">

    <h1>Welcome to the ... BlogTool!</h1>

    <p>You always wanted to build your own blog, but didn't know where to start? </p>
    <p>With the ... Blog Tool it was never easier to build your own blog. No matter if you want to do a travel blog or let your friends know about your everyday life with the help of that tool you can build your blog easily bid by bid.
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>

    <h2>Ready to create your own blog? Let's get started!</h2>

    @Html.ActionLink("Start now!", "Create", "Blog")

    <span class="note">Please login to be able to build your blog</span>
</div>
