
<div class="home-page">

    <div class="slideshow-container">
        <div class="mySlides">
            <div class="item">
                <!--img src="http://i469.photobucket.com/albums/rr54/Dartzigirl/DSCN0255_zpsqhmo1idy.jpg"-->
                <img src="../../Images/home-01.jpg" alt="" />
            </div>
        </div>

        <div class="mySlides">
            <div class="item">
                <!--img src="http://i469.photobucket.com/albums/rr54/Dartzigirl/DSCN0265_zpsppl6xtvk.jpg"-->
                <img src="../../Images/home-02.jpg" alt="" />
            </div>
        </div>

        <div class="mySlides">
            <div class="item">
                <!--img src="http://i469.photobucket.com/albums/rr54/Dartzigirl/DSCN1010_zpszdmdarbi.jpg"-->
                <img src="../../Images/home-03.jpg" alt="" />
            </div>
        </div>

        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>

    <!----div class="banner group">
        <figure class="banner-image">
            <img src="img/banner-img-mobile.jpg" data-min-width-0="img/banner-img-mobile.jpg" data-min-width-320="img/banner-img-mobile.jpg" data-min-width-760="img/banner-img-tablet.jpg" data-min-width-1080="img/banner-img-desktop.jpg" alt=" " />
        </figure>
        <figure class="banner-image second-banner-image">
            <img src="img/banner-img-mobile.jpg" data-min-width-0="img/banner-img-mobile.jpg" data-min-width-320="img/banner-img-mobile.jpg" data-min-width-760="img/banner-img-2-tablet.jpg" data-min-width-1080="img/banner-img-2-desktop.jpg" alt=" " />
        </figure>
    </div-->

    <div class="slide-dots">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
    </div>

    <h1>Welcome home, traveller!</h1>

    <p>You always wanted to build your own blog, share your story, but didn't know where to start? </p>
    <p>With the <strong>TraveLog</strong> Blog Tool it was never easier to build your own blog!</p>
    <p>Just drag in the elements you want to show the world and the journey will start immediately.</p>

    <h2>Ready to create your own blog?</h2>

    @Html.ActionLink("Let's get started!", "Create", "Blog")

    <span class="note">Please login to be able to build your blog</span>
</div>

@section JavaScript
    {
    <script type="text/javascript" src="@Url.Content("/Scripts/homepage.js")" defer></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/response.min.js")"></script>
}
