
<div class="home-page">

    <h1>Welcome to the ... BlogTool!</h1>

    <p>You always wanted to build your own blog, but didn't know where to start? </p>
    <p>With the ... Blog Tool it was never easier to build your own blog! No matter if you want to do a travel blog or let your friends know about your everyday life with the help of that tool you can build your blog easily bid by bid.</p>
    
    <h2>Ready to create your own blog?</h2>

    @Html.ActionLink("Let's get started!", "Create", "Blog")

    <span class="note">Please login to be able to build your blog</span>
</div>
