
/*****************************************************************
*************************** TODOS: *******************************
******************************************************************

    ICH:

        hinweis dateformat 01/01/2017 beim registrieren

        review stylen
        responsible machen 
        aufräumen! abstände auf die obergeordneten elemente setzen, wenn nicht andere seiten beeinflusst!
        bootsstrap weg?!
        
        hoverfarbe
        farben angleichen

        testing

        erklärung blogtool - help/about
        willkommensseite text ausdenken
         
        checkbox hübsch machen - schwieriger - als letztes

    AIJANA:
    
        PREVIEW!!!
        Karte markieren können
        Hello NAME!

    WIR:
        coolen Namen ausdenken
        logo?

******************************************************************/








/* ==========================================================================
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */ 

 /* iconfonts */
@font-face {
    font-family: 'icomoon';
    src:url('/fonts/icomoon.eot?330og6');
    src:url('/fonts/icomoon.eot?#iefix330og6') format('embedded-opentype'),
        url('/fonts/icomoon.ttf?330og6') format('truetype'),
        url('/fonts/icomoon.woff?330og6') format('woff'),
        url('/fonts/icomoon.svg?330og6#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* =======================================================================================================================
        General styles - mobile Version
   ======================================================================================================================= */

navbar a:hover {
    color: #80cbc4;
}

body {
    font: 700 18px/20px "Dosis"; 
    padding: 50px 0 20px;
}

.main-container {
     align-items: stretch;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: flex-start;
     padding: 30px 0;
}

.blog-build-container {
    flex-basis: 66%;
    height: 80%;
    margin-right: 6px;
    order: 1;  
}

.map-container {
    flex-basis: 33%; 
    height: 80%;
    margin-top: 30px;
    order: 2; 
}

.map-container h2{
    margin-top: 0;
}

.body-content {
    padding: 50px 15px;
}

.body-content li, .body-content span {
    font-weight: normal;
}

.body-content li {
    margin: 7px 0;
}

.body-content ul {
    list-style-type: disc;
    list-style-position: inside;
}

.icon-menu:before {
    content: "\e9bd";
    font-size: 30px;
}

a {
    color: #000;
    display: block;
    margin: 20px 0 3px;
    text-decoration: none;
}

button, .btn {
    background: #009688;
    border: none;
    box-shadow: 5px 6px 25px -5px rgba(0,0,0,0.75);
    font: 16px/18px "Chewy"; 
    margin: 15px 0;
    padding: 6px 15px;
}

.blog-element {
    color: #fff;
}

a:hover, button:hover {
    color: #80cbc4; /*#0ca; #0ac;*/
    text-decoration: none;
}

.icon-users:before {
    color: white;
    content: "\e972";
    margin-right: 15px;
}

.blog-elements {
    border: solid 1px #333;
    box-shadow: 5px 6px 25px -5px rgba(0,0,0,0.75);
    float: left;
    padding: 12px 16px;
    width: 76px;
}

.blog-elements h2 {
    margin: 10px 0 0;
}

.blog-element {
    background: #000;
    border: solid 1px #333;
    box-shadow: 5px 6px 25px -5px rgba(0,0,0,0.75);
    display: block;
    float: left;
    height: 40px;
    margin: 10px 0;
    width: 40px;
}

.blog-element:before {
    display: block;
    font-size: 20px;
    margin: 10px 0;
    text-align: center;
}

.icon-text:before {
    content: "\ea77";
}

.icon-image:before {
    content: "\e90d";
}

.icon-images:before {
    content: "\e90e";
}

.icon-video:before {
    content: "\e912";
}

.icon-music:before {
    content: "\e911";
}

.blog-preview {
    float: right;
    width: calc(100% - 94px);
}

.blog-container{
    float: right;
    width: 63%;
}

h1 {
    font: 22px/24px "Chewy"; 
    /* oder Ubuntu:700, "Yanone Kaffeesatz" 700, Dosis (400,600,700), Ewert, "Love Ya Like A Sister" */
    margin: 10px 0;
}

h2 {
    font: 16px/18px "Chewy"; 
    margin: 20px 0 0 0;
}

h3, label {
    font-size: 14px;
    line-height: 16px;
}

p {
    display: block;
    font: 14px/16px "Dosis"; 
    /* oder Allura, Niconne, Tangerine:700, "Dancing Script" (400,700), Qwigley, Eczar, Italianno, "Indie Flower", "Yanone Kaffeesatz" 400 */
    margin: 20px 0;
}

.text-img {
    margin: 10px 0;
    width: 100%;
}

img, iframe {
    margin: 10px 0;
    width: 100%;
}

input, select, textarea, .more-content-box {
    background: #80cbc4;
    border: none;
    font: 14px/16px "Dosis";
    margin: 3px 0 15px;
    padding: 10px 15px;
    width: 96%;
}

.more-content-box {
    background: #fff url(../fonts/all-in-one-small.png) center center no-repeat;
    border: solid 1px #80cbc4;
    display: block;
    height: auto;
    min-height: 80px;
    width: 96%;
}

.more-content-box:before {
    color: #80cbc4;
    padding: 15px;
}

.more-content-box input, .more-content-box textarea  {
    width: 100%;
}

.galleryButtonRight{
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%,-50%);

    width: 40px;
    height: 40px;
    line-height: 40px;

    display: inline-block;
    text-align: center;
    color: #fff;
    background-color: #000;
    overflow: hidden;
    z-index: 1;
    padding: 0;
    border-radius: 50%;
    cursor: pointer;
    font-size: 24px;
}

.galleryButtonLeft{
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%,-50%);

    width: 40px;
    height: 40px;
    line-height: 40px;

    display: inline-block;
    text-align: center;
    color: #fff;
    background-color: #000;
    overflow: hidden;
    z-index: 1;
    padding: 0;
    border-radius: 50%;
    cursor: pointer;
    font-size: 24px;
}

#map {
    height:250px;
    margin: 10px 0;
}

.note {
    color: #808080;
    display: block;
    font-size: 14px;
    font-weight: 300;
    margin: 20px 0 10px;
}

#RememberMe {
    width: 10px;
}

.contact-info {
    margin-top: 20px;
}

.contact-info span {
    margin: 3px 0;
}

.contact-info a {
   display: inline;
}

address {
    margin: 20px 0;
}

.radio label, .checkbox label {
    vertical-align: 3px;
}

.form-horizontal .control-label {
    padding-top: 10px;
}

footer:before, .form-horizontal:before {
    background: #ddd;
    content: " ";
    display: block;
    height: 1px;
    margin: 30px 0;
    width: 100%;
}

.address-htw {
    margin: 20px 0;
}

.address-htw li {
    list-style: none;
    margin: 3px 0;
}


/*
input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background: blue;
    cursor:pointer;
}
input[type="checkbox"]:checked + label span {
    background: yellow;
}
*/







@media (max-width:760px) {
   .main-container {
       flex-wrap: nowrap;
       flex-direction: column;
   } 
}

@media only screen and (min-width: 450px) {
    .more-content-box {
        background: #fff url(../fonts/all-in-one.png) center center no-repeat;
    }
}


/* =======================================================================================================================
            Media Queries - Tablet
   ======================================================================================================================= */

@media only screen and (min-width: 760px) {
  
    body {

    }

    h1 {
        font: 24px/26px "Chewy"; 
    }

    h2, button {
        font: 18px/20px "Chewy"; 
    }

    h3, label {
        font-size: 16px;
        line-height: 18px;
    }

    p {
        font: 16px/18px "Dosis"; 
        margin: 28px 0;
    }

    .blog-elements {
        box-shadow: 5px 6px 25px -5px rgba(0,0,0,0.75);
        padding: 10px 22px;
        width: 95px;
    }

    .blog-preview {
        width: calc(100% - 110px);
    }

    .blog-element {
        height: 50px;
        width: 50px;
    }

    .blog-element:before {
        font-size: 28px;
        margin: 10px 0;
    }

    .more-content-box {
        background: #fff url(../fonts/all-in-one.png) center center no-repeat;
    }

    .map-container {
        margin-top: 0;
    }
    .form-group {
      margin-bottom: 15px;
    }
}

/* =======================================================================================================================
            Media Queries - Desktop
   ======================================================================================================================= */


@media only screen and (min-width: 1024px) {
  
    body {
        font: 700 20px/24px "Dosis";  
    }

    .menu-trigger {
        display: none;
    }

    .menu {
        background: none;
        display: block;
        margin: 0;
    }

    .menu-list {
        float: right;
    }

    .menu-list li {
        float: left;
        padding: 0 20px;
    }

    h1 {
        font: 24px/28px "Chewy"; 
        margin: 5px 0;
    }

    h2, button {
        font: 20px/22px "Chewy"; 
    }

    

    p {
        font: 18px/20px "Dosis"; 
        margin: 28px 0;
    }

    textarea {
        font: 18px/20px "Dosis";
    }

    .blog-elements {
        width: 125px;
    }

    .blog-element {
        height: 80px;
        margin: 10px 0;
        width: 80px;
    }

    .blog-element:before {
        font-size: 36px;
        margin: 20px 0;
    }

    .blog-preview {
        width: calc(100% - 150px);
    }


}



.dl-horizontal dt {
    white-space: normal;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

.group:before,
.group:after {
    content: " ";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    *zoom: 1;
}
