body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.containerTest {
     display: flex;
     flex-direction: row;
     align-items:stretch;
     flex-wrap:wrap;
     justify-content:flex-start;
}

.leftTest {order:1;  flex-basis:80%; height:80%}
.middleTest {order:2; flex-basis:20%; height:80%;}

@media (max-width:900px) {
   .containerTest {
       flex-wrap:nowrap;
        flex-direction: column;
   } 
}

